@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/*VARIABLES FUENTES*/
/*VARIABLES COLORES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
  font-family: "Inter", sans-serif;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #fc8020;
  font-size: 18px;
  text-align: center;
}
nav a:hover:not(.navbar-brand) {
  color: blanchedalmond;
  transform: translateY(-10px) scale(1.2);
  transition: all 0.3s;
}

.navbar {
  z-index: 3;
}

.navbar-brand span {
  color: #333;
}

.nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
  color: #1f1f1f;
}

.icon{
  margin-right: 20px;
}

.icon:hover{
  color: #4a4949;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: antiquewhite;
}

/*INICIO QUIENES SOMOS*/
h2 {
  padding-left: 20px;
  margin-top: 100px;
  padding-bottom: 10px;
  font-size: 30px;
}

.mapa {
  height: auto;
  box-sizing: border-box;
  padding: 20px;
}

iframe {
  width: 100%;
}

.info .fa-location-dot {
  float: inline-end;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1f1f1f;
  color: whitesmoke;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  bottom: 0;
}

.footer a {
  color: whitesmoke;
}

h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
}

.dropdown-menu {
  background-color: rgba(18, 17, 17, 0.919);
}

.dropdown-item {
  color: #fc8020;
}

.dropdown-item:hover {
  background-color: #1f1f1f;
  border-radius: 10px;
}

/*INICIO MEDIA QUERIES*/
@media only screen and (max-width: 917px) {
  nav ul {
    display: none;
  }
  nav i {
    visibility: visible;
  }
  nav i i:hover {
    color: rgba(18, 17, 17, 0.919);
  }
  footer {
    flex-direction: column;
  }
}

@media only screen and (max-width: 991px) {
  
  .navbar-collapse {
    background-color: rgba(18, 17, 17, 0.919);
  }
  .navbar-nav .nav-item .nav-link {
    color: antiquewhite;
  }
  
}
.productosh1 {
  padding-top: 20px;
  position: relative;
  top: 50px;
  text-align: center;
}

.conteiner {
  margin-top: 50px;
  padding: 30px;
  height: auto;
  border-radius: 20px;
  width: auto;
}
.conteiner h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.conteiner input {
  width: 250px;
  height: auto;
  margin-top: 40px;
  margin-bottom:40px ;
  text-align: center;
  border-radius: 10px;
  box-shadow: 15px 10px 10px;
}
.conteiner input:focus {
  transform: scale(1.2);
  transition: all 0.3s;
}

.btnInicio {
  margin-bottom: 10px;
}

.btnInicio:active {
  transform: scale(1.2);
  transition: all 0.3s;
}

.container {
  height: 100vh;
}

.mensaje{
  height: 200px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 15px 10px 10px;
}

.contenedorContacto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 200px;
  margin-top: 100px;
}

.imagen-index{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
  height: 60vh;
  width: 80%;
}

.imagen-index img{
  margin-left:30%;
  width: 20rem;
  height: 10rem;
}

.conteiner1 {
  align-self: center;
  width: 50%;
  text-align: center;
  border-right: 3px black solid;
}
.conteiner1 h3 {
  padding-top: 30px;
}

.conteiner2 {
  width: 50%;
  align-self: center;
}
.conteiner2 img {
  width: auto;
}

h1 {
  padding-top: 100px;
  text-align: center;
}

@media only screen and (max-width: 1015px) {
  .conteiner1 {
    border: none;
    width: 100%;
  }
  .conteiner2 {
    display: none;
  }
}
.historia {
  padding: 50px;
  box-sizing: border-box;
}
.historia h2 {
  text-align: center;
  padding-bottom: 50px;
}
.historia p {
  text-align: justify;
}

.cont1quienesSomos {
  padding-top: 20px;
  margin-top: 82px;
}
.cont1quienesSomos h3 {
  text-align: center;
}
.cont1quienesSomos p {
  padding-top: 50px;
}

.cont2Quienes {
  padding-left: 40px;
}

@media only screen and (max-width: 759px) {
  
  .cont1quienesSomos {
    margin-top: 350px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 759px) {
  .quienesSomos {
    padding-top: 200px;
  }
  .historia {
    flex-direction: column;
    margin-top: -300px;
  }
  .imagenAgro {
    display: none;
  }
}
.quienesSomos {
  z-index: 1;
  text-align: center;
}/*# sourceMappingURL=estilos.css.map */

.nav-item{
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.nav-item:nth-child(2){
  animation-delay:0.3s;
}
.nav-item:nth-child(3){
  animation-delay:0.6s;
}
.nav-item:nth-child(4){
  animation-delay:1s;
}
.nav-item:nth-child(5){
  animation-delay:1.3s;
}
.nav-item:nth-child(6){
  animation-delay:1.6s;
}
.nav-item:nth-child(7){
  animation-delay:1.9s ;
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


