.conteiner{
    margin-top: 50px;
    padding: 30px;
    height: auto;
    border-radius: 20px;
    width: auto;

        h1{
            padding-top: 30px;
            padding-bottom: 30px;
            color: beige;
        }
        input{
            width: 250px;
            height: auto;
            margin-top: 40px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 15px 10px 10px ;
            
        }
        input:focus{
            transform: scale(1.2);
            transition: all 0.3s;
        }

}

.btnInicio{
    margin-bottom: 10px;
}

.btnInicio:active{
    transform: scale(1.2); 
    transition: all 0.3s;
}

.container{
    height: 100vh;
}