@mixin productosh1 ($padding-top, $position, $top, $text-align){
    padding-top: $padding-top;
    position: $position;
    top: $top;
    text-align: $text-align;
 }
.productosh1{
    @include productosh1(20px,relative ,50px ,center)
}

