@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "_productos";
@import "_inicioSesion";
@import "_contacto";
@import "_QuienesSomos";

/*VARIABLES FUENTES*/
$body-font:"Inter", sans-serif;

/*VARIABLES COLORES*/
$nav-fondo: #fc8020;
$icono-hamburguesa-bg: #333;
$menu-links: #1f1f1f;
$menu-bg: rgba(18, 17, 17, 0.919);

@mixin footer ($display, $justify, $align, $background, $color, $text-align, $padding-top, $padding-bottom){
    display: $display;
    justify-content:$justify;
    align-items: $align;
    background-color: $background;
    color: $color;
    text-align: $text-align;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: auto;
    font-family: $body-font;
}

nav{
    width: 100%;
    height:50px;
    background-color: $nav-fondo;
    font-size: 18px;
    text-align: center;

        a:hover:not(.navbar-brand){
            color: blanchedalmond;
            transform:translateY(-10px) scale(1.2); 
            transition: all 0.3s;
        }
}

.navbar{
    z-index: 3;
}

.navbar-brand span{
    color: $icono-hamburguesa-bg;
}


.nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
    color: $menu-links; 
}



a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: antiquewhite;
}

    /*INICIO QUIENES SOMOS*/

h2{
    padding-left: 20px;
    margin-top: 100px;
    padding-bottom: 10px;
    font-size: 30px;
}

.mapa{
    height: auto;
    box-sizing: border-box;
    padding: 20px;
}

iframe{
    width: 100%;
}

.info .fa-location-dot{
    float: inline-end;
}


.footer{
    @include footer(flex,space-evenly ,center ,$menu-links ,whitesmoke , center, 20px, 20px)
}

.footer a{
        color: whitesmoke;
        }

h1{
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
}


.dropdown-menu{
    background-color: $menu-bg
}

.dropdown-item{
    color: $nav-fondo
}

.dropdown-item:hover{
    background-color: $menu-links;
    border-radius: 10px;
}

/*INICIO MEDIA QUERIES*/

@media only screen and (max-width:917px){
    
    nav ul{
        display: none;
    }

    nav i{
        visibility: visible;
            i:hover{
                color: $menu-bg;
            }
    }

    footer{
        flex-direction: column;
    }
}


@media only screen and (max-width:991px) {
    .navbar-collapse{
        background-color: $menu-bg;
    }
    .navbar-nav .nav-item .nav-link {
        color:antiquewhite; 
    }
}
