@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: auto;
    font-family: "Inter", sans-serif;
}

nav{
    width: 100%;
    height:50px;
    background-color: #fc8020;
    font-size: 18px;
    text-align: center;
}

.navbar{
    z-index: 3;
}

.navbar-brand span{
    color: #333;
}

nav a:hover:not(.navbar-brand){
    color: blanchedalmond;
    transform:translateY(-10px) scale(1.2); 
    transition: all 0.3s;
}


.nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
    color:#1f1f1f; 
}


.logo{
    position: relative;
    top: -5px;
    width: 150px;
    padding-left: 20px;
    float: inline-start;
}

a{
    text-decoration: none;
     color: black;
}

 footer a:hover{
    color: antiquewhite;
}

    /*INICIO QUIENES SOMOS*/
.quienesSomos{
    z-index: 1;
    position: relative;
    top:50px;
    text-align: center;
    padding-top: 25px;
}

h2{
    padding-left: 20px;
    margin-top: 100px;
    padding-bottom: 10px;
    font-size: 30px;
}

.mapa{
    height: auto;
    box-sizing: border-box;
    padding: 20px;
}

iframe{
    width: 100%;
}

.info .fa-location-dot{
    float: inline-end;
}


.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f1f1f;
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer a{
    color: whitesmoke;
}


.historia{
    padding: 30px;
    border: black 2px solid;
    border-radius: 10%;
    margin-bottom: 20px;
}

.historia h2{
    text-align: center ;
    padding-bottom: 50px;
}

.historia p{
    text-align: justify;
}

.contQuienesSomos{
    padding-top: 20px;
}


.cont2Quienes{
    padding-left: 40px;
}



/*INICIO PRODUCTOS*/

.productosh1{
    padding-top: 20px;
    position: relative;
    top: 50px;
    text-align: center;
}

.containerFotos{
    margin-top: 100px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: 
    "ft1 ft2 ft2"
    "ft1 ft2 ft2"
    "ft1 ft4 ft5"
    "ft6 ft4 ft3";
    gap: 20px;
    margin-bottom: 30px;
}

.img-productos{
    border: 2px solid black;
    width: 100%;
}
    


.foto1{
    grid-area: ft1;
    background-image: url(contenido/imagenes/maiz.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
}

.foto2{
    grid-area: ft2;
    background-image: url(contenido/imagenes/vacas.jpg);
    background-position: center;
    background-size: cover;
}

.foto3{
    grid-area: ft3;
    background-image: url(contenido/imagenes/pollitos.jpg);
    height: 100px;
    background-position: center;
    background-size: cover;
}


.foto4{
    grid-area: ft4;
    background-image: url(contenido/imagenes/expeller-de-soja.gif);
    height: auto;
    background-position: center;
    background-size: cover;
}

.foto5{
    grid-area: ft5;
    background-image: url(contenido/imagenes/soja.jpg);
    height: auto;
    background-position: center;
    background-size: cover;
}

.foto6{
    grid-area: ft6;
    background-image: url(contenido/imagenes/pellet\ de\ trigo.jpg);
    height: 100px;
    background-position: center;
    background-size: cover;
}

/*INICIO CONTACTO*/

h1{
    padding-top: 100px;
    text-align: center;
}

.container-contacto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 200px;
    margin-top: 100px;
}

.conteiner1{
    align-self: center;
    width: 50%;
    text-align: center;
    border-right: 3px black solid;
}

.conteiner1 h3{
    padding-top: 30px;
}

.conteiner2{
    width: 50%;
    align-self: center;
}

.conteiner2 img{
    width: auto;
}
/*Inicio Sesion*/

.conteiner{
    margin-top: 50px;
    padding: 30px;
    background-color: #333;
    height: 100vh;
    border-radius: 20px;
}

.conteiner h1{
    padding-top: 30px;
    padding-bottom: 30px;
    color: beige;
}
.conteiner input{
    width: 250px;
    height: 20px;
    margin-top: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 15px 10px 10px ;
}

.conteiner input:focus{
    transform: scale(1.2);
    transition: all 0.3s;
}


.btnInicio:active{
    transform: scale(1.2); 
    transition: all 0.3s;
}

.dropdown-menu{
    background-color: #1f1f1f;
}

.dropdown-item{
    color: #fc8020;
}

.dropdown-item:hover{
    background-color:#1f1f1f;
    border-radius: 10px;
}

/*INICIO MEDIA QUERIES*/

@media only screen and (max-width:917px){
    
    nav ul{
        display: none;
    }

    nav i{
        visibility: visible;
    }

    nav i:hover{
        color: #1f1f1f;
    }

    footer{
        flex-direction: column;
    }
}


@media only screen and (min-width:360px) and (max-width:759px){

    .quienesSomos{
        padding-top: 200px;
    }

    .historia{
        flex-direction: column;
        margin-top: -300px;
    }
    
    .containerFotos{
        grid-template-rows: repeat(6, 1fr);
        .foto3{
            height: auto;
        }
        
        .foto6{
            height: auto;
        }

        grid-template-areas: 
            "ft1"
            "ft2"
            "ft3"
            "ft4"
            "ft5"
            "ft6";
    }
    
}

@media only screen and (max-width:759px){
    .contQuienesSomos{
        visibility: hidden;
    }
    .historia{
        border: none;
    }
}

@media only screen and (max-width:1015px){
    .conteiner1{
        border: none;
        width: 100%;
    }

    .conteiner2{
        display: none;
    }
}

@media only screen and (max-width:991px) {
    .navbar-collapse{
        background-color: rgba(18, 17, 17, 0.919);
    }
    .navbar-nav .nav-item .nav-link {
        color:antiquewhite; 
    }
}